<!-- template -->
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ToDoRo</title>
    <link href="css/styles.css" rel="stylesheet" />

  </head>
  <body>
      <div class="box" id="heading">
            <h1> <%= kindOfDay %> </h1>
      </div>

     <div class="box">
       <%  for(var i=0;i< newItems.length; i++){ %>
         <div class="item">
           <input type="checkbox"> <p><%= newItems[i] %></p>
         </div>
      <% } %>

      <form class="item" action="/" method="post">
         <input type="text" name="newEntry"  value="" placeholder="what needs to be done?"/>
         <button type="submit" name="button">➕</button>
      </form>
    </div>


  </body>
</html>
